node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.env.local
.env
.DS_Store
.vscode
.idea
.husky
coverage
dist
build
*.log
.npm
.eslintcache
.swp
.swo
*~
.turbo
.turbopack
cypress
e2e
test
.test
spec
